version: '3'
services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    image: balexander85/react-resume-app:alpine
    ports:
      - "3000:3000"
    volumes:
      - ./src:/app/src