body {
    margin: auto;
    width: 1024px;
    background-image: url('../public/macfullscreenapbg.png');
    font-family: "Times New Roman", ui-rounded;
    font-size: 14px;
    color: #1A1A1A;
}

ul {
    list-style-type: square;
}

.bold {
    font-weight: bold;
}

.App {
    background-color: white;
    border-radius: 20px;
    padding: 12px;
}

.App-link {
    color: #61dafb;
}

.contact-name {
    font-size: calc(27px + 2vmin);
}

.contact-info {
    text-align: center;
}

.section-header {
    font-family: "Courier New", ui-rounded;
    font-size: 1.17em;
}

.summary-text {
    text-indent: 1em;
}

.education-entry {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px; /* Adjust as needed */
}

.education-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px; /* Adjust as needed */
}

.dates,
.institution,
.job-location,
.job-title,
.company,
.degree {
    margin: 0;
}

.job-entry {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px; /* Adjust as needed */
}

.job-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px; /* Adjust as needed */
}
